:root {
    --darkpinkused:rgb(97, 45, 97);
    --lightpinkused: rgb(211, 100, 211);
    --lightfontcolor: rgb(199, 199, 199);
    --hovernavitemcolor: #eec471;

    --bodys-font-family: 'Montserrat', sans-serif;
    --titles-font-family: 'Elsie Swash Caps';

    --focused-title-weight: 900;
    --weight-button: 700;
    --weighted-focus: 700;

    --body-width: 1rem;
    --title-width: 1.375rem;
    --focus-title-width: 2rem;
    --focus-title: 1.375rem;
}