@import url(_most-used-variables.css);
.box {
    position: relative;
    width: 
    80%;
	margin: 0 auto;
}
nav {
	position: absolute;
	
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 2rem;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}

nav li a:hover {
	color: var(--hovernavitemcolor);
	text-decoration: underline;
}
.title {
    font-size: var(--focus-title);
    font-family: Lucida Handwriting;
    color: var(--lightfontcolor);
    text-align: center;
    grid-column: 2 / 4;
}
.topics {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: 80vh;  
}
.winter {
    height: auto; 
    width: auto;
    border-radius: 45%; 
    background: linear-gradient(var(--lightpinkused),transparent), url('./assets/winter.jpg') no-repeat  center; 
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    object-fit: contain;
}
.season_buttons {
    background-color: transparent;
    border-color: transparent;
}
.season_buttons:hover {
    color: pink;
	text-decoration: underline;
}
.subtitles {
    padding: .6rem;
    text-align: center;
    width: 100%;
    font-family: var(--titles-font-family);
    color: black;
    font-size: var(--focus-title-width);
    font-weight: var(--focused-title-weight);

}
.seasons {
    height: auto; 
    width: auto;
    border-radius: 45%; 
    font-size: var(--body-width);
    font-weight: var(--title-width);
}
.fall {
    background: linear-gradient(var(--lightpinkused),transparent), url('./assets/fall.png') no-repeat  center; 
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}
.summer {
    background: linear-gradient(var(--lightpinkused),transparent), url('./assets/summer.jpg') no-repeat  center; 
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}
.spring {
    background: linear-gradient(var(--lightpinkused),transparent), url('./assets/spring.jpg') no-repeat  center; 
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

@media(max-width: 769px) {
    nav a{
        display: block;
        font-size: 1.1rem;
        text-align: center;
    }
    nav {
        left: 0;
    }
    .title {
        font-size: 1rem;
        justify-content: center;
        align-self: center;
    }
    .subtitles {
        font-size: 1.2rem;
    }
}